*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    height: 100vh;
    overflow: hidden;
}

.page{
    background-color: rgb(51, 74, 74);
}

.sidebar{
    width: 70px;
    background-color: #111010;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
    padding: 20px;
    transition: width 0.3s ease;
}

.sidebar:hover{
    width: 170px;
}

.sidebar h3{
    text-align: center;
    font-size: 29px;
    margin-left: -10px;    
    color: aqua;
}

.sidebar li i{
    color: aqua;
}

.sidebar li{
    display: flex;
    list-style: none;
    margin: 10px 0;
    padding: 6px;
    border-radius: 10px;
    color: white;
    cursor: pointer;
    font-size: 17px;
}
.sidebar li:hover{
    background-color: rgb(51, 74, 74);
}

.sidebar a{
    text-decoration: none;
    margin-left: 5px;
    color: aqua;
    opacity: 0;
    transition: opacity 0.3s ease;
}
.sidebar:hover a{
    opacity: 1;
}

main{
    flex: 1;
    background-image: url('../IMG/bg-image.avif');
}

main h1{
    color: #fff;
    padding: 20px;
}   

main img{
    width: 300px;
    height: 230px;
    border-radius: 67px;
    position: absolute;
    bottom: 6px;
    left: 520px;
    transition: transform 0.3s ease;
}
main img:hover{
    transform: scale(1.2);
}

#cv button{
    background-color: beige;
    position: absolute;
    top: 20px;
    right: 23px;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    border: none;
    border-radius: 15px;
    transition: trasform 0.3s ease;
}
#cv button:hover{
    background-color: greenyellow;
    transform: scale(1.1);
}

.info{
    display: flex;
}

.formation{
    background-color: rgb(68, 68, 68, 0.5);
    width: 520px;
    margin-left: 30px;
    padding: 20px;
    border-radius: 26px;
    transition: transform 0.3s ease;
}

.formation:hover{
    transform: scale(1.1);
}

.formation h2{
    text-align: center;
    margin-bottom: 10px;
    text-decoration: underline;
    font-size: 30px;
    color: #fff;
}

.formation ul{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.formation strong{
    font-size: 20px;
    color: #fff;
}
.formation span{
    color: #000;
}

.liens{
    margin-left: 50px;
}

.liens li a{
    text-decoration: none;
    font-size: 18px;
    color: #e6c5c5;
}
.liens li a:hover{
    color: #000;
}